# Use default setting for mysqld processes
!include include/default_mysqld.cnf

[mysqld.1.1]
log-bin=                  master-bin
ddl_execute_by_ctl=       1
port=                     34720
open_files_limit=         4096
skip-grant-tables
loose_partition=          1
spider_auto_increment_mode_switch=  ON 
spider_auto_increment_mode_value=   1
spider_auto_increment_step=         37

[mysqld.1.2]
open_files_limit=         4096
port=                     34721
ddl_execute_by_ctl=       1
skip-grant-tables
loose_partition=          1

[mysqld.2.1]
port=33671
skip-grant-tables

[mysqld.2.2]
port=33672
skip-grant-tables

[mysqld.2.3]
port=33673
skip-grant-tables

[mysqld.2.4]
port=33674
skip-grant-tables


[ENV]
USE_GEOMETRY_TEST=        1
USE_FULLTEXT_TEST=        1
USE_HA_TEST=              1
USE_GENERAL_LOG=          1
USE_REPLICATION=          1
MASTER_1_MYPORT=          @mysqld.1.1.port
MASTER_1_ENGINE_TYPE=     Spider
MASTER_1_ENGINE=          ENGINE=Spider
MASTER_1_CHARSET=         DEFAULT CHARSET=utf8
MASTER_2_MYPORT=          @mysqld.1.2.port
MASTER_2_ENGINE_TYPE=     Spider
MASTER_2_ENGINE=          ENGINE=Spider
MASTER_2_CHARSET=         DEFAULT CHARSET=utf8


USE_CHILD_GROUP2=         1
OUTPUT_CHILD_GROUP2=      0
CHILD2_1_MYPORT=          @mysqld.2.1.port
CHILD2_1_ENGINE_TYPE=     InnoDB
CHILD2_1_ENGINE=          ENGINE=InnoDB
CHILD2_1_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_2_MYPORT=          @mysqld.2.2.port
CHILD2_2_ENGINE_TYPE=     InnoDB
CHILD2_2_ENGINE=          ENGINE=InnoDB
CHILD2_2_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_3_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_3_MYPORT=          @mysqld.2.3.port
CHILD2_3_ENGINE_TYPE=     InnoDB
CHILD2_3_ENGINE=          ENGINE=InnoDB
CHILD2_4_CHARSET=         DEFAULT CHARSET=utf8
CHILD2_4_MYPORT=          @mysqld.2.4.port
CHILD2_4_ENGINE_TYPE=     InnoDB
CHILD2_4_ENGINE=          ENGINE=InnoDB
CHILD2_4_CHARSET=         DEFAULT CHARSET=utf8
